div{
    >textarea{
        width: 100%;
    }
    >div > div{
        display: flex;
        > ul {
            display: flex;
            list-style: none;
            width: 100%;
        }
    }
}