.post-compose{
    width: 100%;
    >textarea,>input{
        width: 100%;
    }
    > div{
        padding: 0;
        margin:0; 
        display: flex;
        flex-flow: row wrap;
        > ul {
            padding: 0;
            margin:0; 
            display: flex;
            flex-flow: row wrap;
            list-style: none;
            justify-content: center;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            >li{
                flex-basis: 48%;
                gap: 2%;
                text-align: center;
            }
        }
    }
}