.posts-home{
    display: flex;
    flex-flow: row wrap;
}

.post{
    display: flex;
    flex-flow: column wrap;
}

.post-user{
    display: flex;
    >div >img{
        max-width: 100%;
        height: auto;
    }
}