.posts-home{
    display: flex;
    flex-flow: row wrap;
}

.post{
    display: flex;
    flex-flow: column wrap;
}

.post-user{
    background-color: blue;
    display: flex;
    flex-flow:  wrap;
    >div >img{
        width: 100%;
        height: auto;
    }
}