.post-compose{
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    >textarea,>input{
        width: 100%;
        min-width: 500px;
        min-height: 100px;
        
    }
    > div{
        padding: 0;
        margin:0; 
        display: flex;
        flex-flow: row wrap;
        > ul {
            padding: 0;
            margin:0; 
            display: flex;
            flex-flow: row wrap;
            list-style: none;
            justify-content: center;
            width: 100%;
            align-items: center;
            >li{
                flex-basis: 48%;
                gap: 2%;
                text-align: center;
            }
        }
    }
}