.users-container{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.user{
    display: flex;
    flex-flow: column wrap;
}
.image-user{
    >img{
        width: 100%;
        height: 100%;
    }
}
.about-user{
    display: flex;
    flex-flow: column wrap;
}