.users-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 2%;
    justify-content: space-between;
    @media(min-width: 550px){
        display: flex;
        flex-flow: column wrap;
        position: fixed;
        right: 0;
    }
}
.user{
  flex-basis:20%;
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 100px;
  display: flex;
  flex-flow: column;
  @media(min-width: 550px){
    display: flex;
    flex-flow: row wrap;
    min-width: 500px;
}
}
.image-user{
    >img{
        width: 100%;
        height: 100%;
    }
    @media(min-width: 550px){
        >img{
        height: 3rem;
        width: 3rem;
        }
    }
}
.about-user{
    display: flex;
    flex-flow: column wrap;
}