.users-container{
    display: flex;
    max-width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 2%;
    justify-content: space-between;
    @media(min-width: 768px){
        display: flex;
        flex-flow: column wrap;
        height: 100%;
        position: sticky;
        top: 0;
    }
}
.user{
  flex-basis:20%;
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 100px;
  display: flex;
  flex-flow: column;
  @media(min-width: 768px){
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    >:nth-child(1){
        background-color: aqua;
        flex-basis: 15%;
    }
    >:nth-child(2){
        background-color: red;
    }
}
}
.image-user{
    >img{
        width: 100%;
        height: 100%;
    }
    @media(min-width: 768px){
        >img{
        /* height: 3rem;
        width: 3rem; */
        width: 100%;
        height: 100%;
        border-radius: 50%;
        }
    }
}
.about-user{
    display: flex;
    flex-flow: row wrap;
}