nav > ul{
list-style: none;
display: flex;
flex-flow: row wrap;
justify-content: space-between;
padding: 0;
margin: 0;
li>hr{
    background-color: red;
    color: red;
    width: 100%;
    height: 100%;
}
}