nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    > ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    >hr{
        background-color: red;
        color: red;
        height: 10px;
        width: 1px;
        }
    }
    > div {
        position: absolute;
        bottom: 150%;
        right:5%;
        >a {
            > button{
                background-color: red;
                padding: 1rem;
                border-radius: 100%;
                margin: auto;
                padding: 1em 1.3em;
                line-height: 1rem; 
            }
        }
    }
} 