nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 3;
    > ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    >li > a{
        text-decoration: none;
        color: #343434;
    }
    }
    @media(min-width: 550px){
        z-index: 0;
        position: relative;
        >ul{
            position: sticky;
            top: 0%;
            flex-flow: column wrap;
        }
        
    }
} 
.mobile-post{
    position: fixed;
    bottom: 5%;
    right: 5%;
    > button{
        border-radius: 100%;
        padding: 1rem 1.3rem;
        background-color: white;
    }
    @media(min-width: 550px){
        display: none;
    }
}

.nav-icons > svg{
    height: 2rem;
    width: 2rem;
    color: #343434;
    text-decoration: none;
}

.nav-icons{
    font-size: 2rem;
}